.div-1{
    background-color: #1e1c1c;
    border-radius: 15px;
}
.navbar{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.navbar ul li a {
    text-decoration: none;
    color: #f3f3eb;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar ul li{
    list-style: none;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.navbar ul {
    float: right;
    font-family:'Roboto', sans-serif;
}
.nav-section {
    margin-left: 550px;
}
.login-section {
    margin-left: 580px; /* 700-32= 668px*/
    margin-right: 40px;
    
}
.navbar-logo {
    margin-left: 50px;
}